@tailwind base
@tailwind components
@tailwind utilities

:root
  // colors that change on dark mode
  --primary-background: #f4f4f4
  --secondary-background: #ffffff
  --primary-text: #1172B7
  --secondary-text: #6C6C6C
  --primary-color: #2071b7
  --fields: #F8F5F3
  --input-color: black

  // colors that do not change on dark mode
  --login-button: #0B95BB
  --login-button--hover: #064B5E
  --icon-button: #0BAAD6
  --link-color: #2071b7

.dark-mode
  --primary-background: rgb(18, 18, 18)
  --secondary-background: rgb(26, 26, 26)
  --primary-text: #E0E0E0
  --secondary-text: #B0B0B0
  --primary-color: #1A2B40
  --fields: #1F1F1F
  --input-color: white

*
  font-family: 'Ubuntu', sans-serif
  box-sizing: border-box
  margin: 0
  padding: 0

body
  user-select: none
  margin: 0
  padding: 0
  background-color: var(--primary-background)
  font-family: 'Ubuntu', sans-serif
  color: var(--secondary-text)

footer
  position: fixed
  font-size: 16px
  bottom: 0
  left: 0
  width: 100%
  height: 95px
  background-color: var(--secondary-background)
  display: flex
  justify-content: flex-end
  align-items: center
  padding-right: 50px
  opacity: 1

  a
    margin-right: 20px
    color: var(--secondary-text) 
    cursor: pointer
    text-decoration: none
    transition: color 0.3s ease

    &:hover
      color: var(--primary-text) 


header
  background-color: var(--secondary-background)
  position: sticky
  top: -62px
  z-index: 100
  width: 100%
  padding: 26px 0
  display: flex
  justify-content: space-between
  align-items: center
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)

.container
  width: 100%
  margin: 0 auto
  margin-bottom: 15px
  color: var(--secondary-text)
  display: flex
  justify-content: space-between
  align-items: center

.split-button
  position: sticky
  top: 1px
  background-color: var(--fields)
  border: 1px solid var(--secondary-text)
  border-radius: 21px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 10px
  width: 99px
  height: 42px
  gap: 5px

  img
    color: inherit
    cursor: pointer
    height: 30px
    width: 30px
    opacity: 0.5
    transition: 0.2s ease-in-out
    &:hover
      opacity: 1

  .svg--light
    // color: var(--primary-color)
    color: var(--login-button)
    opacity: 1
    cursor: default

  .svg--dark
    color: var(--login-button)
    opacity: 1
    cursor: default

form
  background-color: var(--secondary-background)
  width: 572px
  height: 650px
  margin: 76px auto
  box-shadow: 4px 4px 15px rgba(112, 112, 112, 0.22)
  border-radius: 8px
  border: 1px solid transparent
  display: flex
  flex-flow: column
  align-items: center

  &:hover
    border: 1px solid var(--login-button--hover)

  .login
    &-header
      width: 100%
      height: 53px
      margin-top: 50px
      margin-bottom: 52px
      padding: 0 53px
      display: flex
      justify-content: space-around
      align-items: flex-start
      cursor: default

      span
        font-size: 39px
        letter-spacing: -2px

    &-title
      color: var(--primary-text)

    &-subtitle
      color: var(--secondary-text)

  label
    display: block
    margin-bottom: 10px
    color: var(--secondary-text)

  a
    display: inline-block
    text-align: right
    color: var(--link-color)
    transition: color 0.2s ease-in-out

    &:hover
      color: var(--icon-button)

  input
    height: 67px
    width: 100%
    padding-left: 37px
    background-color: var(--fields)
    color: var(--input-color)
    border: 1px solid #CCC
    border-radius: 6px
    margin-bottom: 15px
    font-size: 20px
    transition: 0.4s ease-in-out

    &::placeholder
      color: var(--secondary-text)

    &:hover
      border: 1px solid var(--icon-button)

    &:focus-visible
      outline-color: var(--icon-button)
      outline-style: double
      border: 1px solid #204eff

  .checkbox-container
    display: flex
    align-items: center
    margin-bottom: 20px

    &:hover span
      opacity: 0.85

    input[type='checkbox']
      cursor: pointer
      margin-right: 10px
      width: 20px
      height: 20px

      &:checked + label span
        opacity: 1
        text-decoration: underline
        text-decoration-thickness: 2px
        text-decoration-color: var(--login-button)
        animation: underline-draw 0.1s ease-out

      &:not(:checked) + label span
        animation: underline-draw-reverse 0.1s ease-out
        text-decoration: none

    label
      cursor: pointer
      display: flex
      align-items: center

    span
      cursor: pointer
      color: var(--login-button)
      opacity: 0.66
      margin-left: 5px
      transition: opacity 0.2s ease-in-out

  button
    width: 100%
    background-color: var(--login-button)
    color: white
    font-size: 16px
    border: none
    border-radius: 6px
    padding: 15px
    cursor: pointer
    transition: background-color 0.2s ease-in-out

    &:hover
      background-color: rgb(11, 149, 187, 0.9)

  .links
    margin-top: 20px
    text-align: center

// declarative styles ? INVESTIGATE
.center-content
  width: 360px

  // Keyframes for underline animation
@keyframes underline-draw
  from
    text-decoration: underline dotted var(--login-button) 0
  to
    text-decoration: underline var(--login-button) 2px

@keyframes underline-draw-reverse
  from
    text-decoration: underline var(--login-button) 2px
  to
    text-decoration: underline dotted var(--login-button) 0

@keyframes fadeInOut
  0%
    opacity: 0
  6%
    opacity: 1
  100%
    opacity: 0
